<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1">
  
	<welcome-file-list>  
		<welcome-file>index1.html</welcome-file>  
	</welcome-file-list>
 
	<!-- <servlet>
		<servlet-name>abc</servlet-name>
		<servlet-class>com.shri.servlet.AddServlet</servlet-class>
	</servlet>
 
	<servlet-mapping>
 		<servlet-name>abc</servlet-name>
 		<url-pattern>/add</url-pattern>
	</servlet-mapping>
 
	<servlet>
 		<servlet-name>pqr</servlet-name>
	 	<servlet-class>com.shri.servlet.SquareServlet</servlet-class>
	</servlet>
 
	<servlet-mapping>
 		<servlet-name>pqr</servlet-name>
 		<url-pattern>/square</url-pattern>
	</servlet-mapping> -->
	
	
	<!-- <servlet>
 		<servlet-name>xyz</servlet-name>
	 	<servlet-class>com.shri.servlet.MyServlet</servlet-class>
	 	<init-param>
	 		<param-name>name</param-name>
	 		<param-value>A.Siddharth</param-value>
	 	</init-param>
	 	<init-param>
	 		<param-name>phone</param-name>
	 		<param-value>Redmi Note 5</param-value>
	 	</init-param>
	</servlet>
 
	<servlet-mapping>
 		<servlet-name>xyz</servlet-name>
 		<url-pattern>/home</url-pattern>
	</servlet-mapping> -->
	
	<context-param>
		<param-name>name</param-name>
		<param-value>A.Shrikant</param-value>
	</context-param>
	
	<context-param>
		<param-name>phone</param-name>
		<param-value>Redmi Note 7S</param-value>
	</context-param>

</web-app>